<div class="flex flex-col max-w-sm mx-auto my-8 p-8">
  <h1 class="text-center m-5"><strong>Profilul meu</strong></h1>
  <form nz-form [nzLayout]="'vertical'" (ngSubmit)="onSubmit()" [formGroup]="profileForm">
    <nz-form-item>
      <nz-form-label [nzFor]="'firstName'">Prenume</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="firstName" id="firstName" type="text" placeholder="Prenume" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'lastName'">Nume</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="lastName" id="lastName" type="text" placeholder="Nume" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'email'">E-mail</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="email" id="email" type="email" placeholder="E-mail" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'street'">Strada</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="street" id="street" type="text" placeholder="Strada" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'line2'">Numărul</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="line2" id="line2" type="text" placeholder="Numărul" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'city'">Oraş</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="city" id="city" type="text" placeholder="Oraş" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'country'">Țara</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="country" id="country" type="text" placeholder="Țara" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'state'">Județ</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="state" id="state" type="text" placeholder="Județ" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'zipCode'">Cod poştal</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="zipCode" id="zipCode" type="text" placeholder="Cod poştal" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button nzType="primary" 
              class="enabled:border-none enabled:bg-green-700 enabled:hover:bg-green-800" 
              [nzLoading]="loading" 
              [disabled]="!profileForm.valid">Actualizați profilul</button>
    </nz-form-item>
  </form>
</div>