<div class="max-w-xl mx-auto p-4 flex flex-col items-center">
  <h2 class="mb-3"><strong class="text-green-700">Comenzile dumneavoastră</strong></h2>
  <div *ngIf="orders$ | async as orders; else noOrders">
    <div *ngFor="let order of orders" class="bg-gray-100 rounded p-4 mb-4">
      <h4>Comanda #{{ order.id }}</h4>
       
      <p>Data: {{ order.createdAt | date }}</p>
      <ul>
        <li *ngFor="let item of order.items">
          {{ item.title }} - Mărime: {{ item.size }} - Cantitate: {{ item.quantity}}
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noOrders>
    <p>Nu aveți nici o comandă.</p>
  </ng-template>
</div>