<div class="login-container">
  <h1 class="text-center mb-4"><strong class="login-title">Intră în cont</strong></h1>
  <form nz-form [nzLayout]="'vertical'" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <nz-form-item>
      <nz-form-label [nzFor]="'email'">E-mail</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="email" id="email" type="email" placeholder="Email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzFor]="'password'">Parola</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="password" id="password" type="password" placeholder="Password" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button nzType="primary" class="login-button" [nzLoading]="loading" [disabled]="!loginForm.valid">Logare</button>
    </nz-form-item>
  </form>
</div>
